<%- include('view/header.ejs') %> 
<main class="page testimonials">
    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div>
                <div class="container">
                    <center>
                        <h1><center>Create Post !!</center></h1>
                    <div class="loginForm col-lg-5 col-md-8 col-sm-8 p-4">
                        <form action="/" method="POST">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-md" name="title" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-md" name="description" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </form>
                    </div>
                </center>
                  </div>
            </div>
            <% if (locals.posts){ %>
                <% if (posts.length > 0) { %> 
                    <div class="row">
                        <% for (const post of posts) { %>
                            <div class="col-lg-4">
                                 <div class="card clean-testimonial-item border-0 rounded-0">
                                    <div class="card-body">
                                        <h3><%= post.title %> </h3>
                                        <p class="card-text"><%= post.description %> </p>
                                        <a href="/<%= post.author %>" class="card-title"><%= post.author %></h4>
                                        <a class="btn btn-primary" href="/delete/<%= post._id %>" role="button">Delete</a>
                                        </div>
                                    </div>
                                </div>
                        <% } %>
                    </div>
                <% } else { %>
                 <h1>No Post Available</h1>
                <% } %>
            <% }else { %>
                <h1>No Data Available</h1>
            <% } %>
        </div>
    </section>
</main>
<%- include('view/footer.ejs') %> 